.head_link {
    font-size: 18px;
    color: #E5E7EB;
}
.header {
    display: flex;
    gap: 8px;
    align-items: center;
}

.hero {
    background-color: #1F2937;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}