body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.body_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48px 72px;
    gap: 24px;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;   
    font-size: 16px;
    font-weight: bold; 
    border-radius: 8px;
}

.call {
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    
    margin: 72px;
    gap: 32px;
    border-radius: 8px;
    padding: 24px;
}

.call_left {
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
}

.footer {
    margin-top: auto;
    color: #E5E7EB;
    background-color: #1F2937;
    text-align: center;
    padding: 16px 0;
    align-items: center;
}

.head_link, .hero_secondary {
    font-size: 18px;
    color: #E5E7EB;
}
.header {
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 16px 72px;
}

.hero {
    background-color: #1F2937;
}

.hero_content {
    margin: 48px 72px;
    display: flex;
    justify-content: space-between;
}

.hero_image {

}

.hero_left {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero_main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero_right img {
    width: 240px;
    height: auto;
}

.information_block {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.information_header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info_image {
    object-fit: cover;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 25px;
    border: solid #3882F6 2px;
}

.information_row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 48px;
}

.information_text {
    width: 200px;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote_attribute {
    font-weight: bold;
    align-self: flex-end;
    margin-top: 0;
}

.quote_box {
    display: flex;
    flex-direction: column;
    margin: -18px 96px;
}

.quote, .quote_attribute {
    
}