.head_link, .hero_secondary {
    font-size: 18px;
    color: #E5E7EB;
}
.header {
    display: flex;
    gap: 8px;
    align-items: center;
}

.hero {
    background-color: #1F2937;
}

.hero_main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

img {
    width: 200px;
    height: auto;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}